header {
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 200%;

}

header p {
    margin: 0;
}

footer {
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 115%;
}

footer p {
    margin: 0;
}

section {
    background-color: rgb(218, 218, 218);
    max-width: 500px;
    text-align: left;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid rgb(196, 196, 196);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    line-height: 1.6;
}

p {
    line-height: 1.5;
}

picture img {
    width: 520px;
    height: auto;
    box-shadow: 0px 0px 30px #333;
}

ul {
    padding-left: 25px;
    padding-right: 90px;
}

li {
    margin-bottom: 8px;
}

h1 {
    margin-bottom: 25px;
}

h2 {
    border-bottom: 2px solid #9e9e9e;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

section p {
    padding-left: 25px;
    padding-right: 100px;
}